@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap');

/*configurar toda la pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}



/*configuraciones generales*/
a{
    color: whitesmoke;
    text-decoration: none;
}

ul{
    list-style: none;
}

body html{
    overflow-x: hidden;
}

body{
    background-image: url(../imagenes/Fondo1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    width: 100%;
    margin: 0 auto;
}

p{
    font-family: 'Lato', sans-serif;
}



/*navbar*/
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: right;
    padding: 20px;
    color: whitesmoke;
    font-size: 4vmin;
    z-index: 2;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links li{
    margin: 0 15px;
}



/*3° parte de la pagina*/
.seccion1{
    width: 100%;
    height: 80vh;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
}

.row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.col{
    display: flex;
    flex-direction: column;
    align-self: baseline;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 4vmin;
    color: whitesmoke;
    text-align: center;
}

.img{
    height: 600px;
    align-self: center;
}

.line{
    width: 2px;
    height: 80vh;
    background: whitesmoke;
    margin: 0px;
}